/** Hidden by default, it will only appear when there are details on the page **/
.block-expand-details-block {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.expand-details-button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: gold;
  color: black;
}

.expand-details-button:is(:hover, :focus) {
  background-color: purple;
  color: white;
}
