/** Hidden by default, it will only appear when there are details on the page **/
.block-expand-details-block {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.expand-details-button {
  background-color: var(--laurier-gold);
  color: var(--black);
  border-radius: 5px;
}

.expand-details-button:is(:hover, :focus) {
  background-color: var(--laurier-purple);
  color: var(--white);
}
